<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Welcome to Vue</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
        #list {
            width: 400px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        #list td,
        #list th {
            border: 1px solid black;
            text-align: center;
        }
        
        #list>thead>tr {
            color: yellow;
            background-color: purple;
        }
        
        .divider {
            height: 2px;
            background-color: gray;
        }
    </style>
</head>

<body>

    <div id="example">
        <table id="list">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>주소</th>
                </tr>
            </thead>
            <tbody id="contacts">
                <template v-for="(contact, index) in contacts">
                    <tr>
                        <td>{{contact.no}}</td>
                        <td>{{contact.name}}</td>
                        <td>{{contact.tel}}</td>
                        <td>{{contact.address}}</td>
                    </tr>
                    <tr class="divider" v-if="index % 5===4">
                        <td colspan="4"></td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        var model = {
            "pageno": 1,
            "pagesize": 10,
            "totalcount": 100,
            "contacts": [{
                "no": 100,
                "name": "설현",
                "tel": "010-123-4567",
                "address": "Seoul"
            }, {
                "no": 99,
                "name": "혜리",
                "tel": "010-234-5678",
                "address": "Seoul"
            }, {
                "no": 98,
                "name": "하니",
                "tel": "010-333-2222",
                "address": "Gyeong-Gi"
            }, {
                "no": 97,
                "name": "성소",
                "tel": "010-1111-2222",
                "address": "Je-ju"
            }, {
                "no": 96,
                "name": "지아",
                "tel": "010-3123-1111",
                "address": "Seoul"
            }, {
                "no": 95,
                "name": "정연",
                "tel": "010-1222-3333",
                "address": "Gang-won"
            }]
        }
        var list = new Vue({
            el: "#example",
            data: model
        });
    </script>
</body>

</html>